In [11]:
import streamlit as st
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import altair as alt

from Additional_py_Files import db_connect as db

In [12]:
auth_logs = db.auth_logs_to_df()

In [13]:
auth_logs

,Date_Time,Date,Time,Source_IP,Access,Box,User,By_Way,City,Country,Lat,Lon
0,2021/11/28 23:49:02,2021/11/28,23:49:02,23.82.193.161,Successful,Liberty,root,Public_Key,Manassas,United States,38.7493,-77.4918
1,2021/11/28 23:48:58,2021/11/28,23:48:58,23.82.193.161,Successful,Ellis,root,Public_Key,Manassas,United States,38.7493,-77.4918
2,2021/11/28 23:48:55,2021/11/28,23:48:55,23.82.193.161,Successful,Itza,root,Public_Key,Manassas,United States,38.7493,-77.4918
3,2021/11/28 23:48:53,2021/11/28,23:48:53,23.82.193.161,Successful,Alban,root,Public_Key,Manassas,United States,38.7493,-77.4918
4,2021/11/28 23:48:40,2021/11/28,23:48:40,64.225.78.56,Failed,Itza,huawei,huawei,Amsterdam,Netherlands,52.3520,4.9392
...,...,...,...,...,...,...,...,...,...,...,...,...
169810,2022/01/02 00:04:02,2022/01/02,00:04:02,43.153.29.11,Failed,Ellis,root,root,None,China,34.7732,113.7220
169811,2022/01/02 00:02:44,2022/01/02,00:02:44,43.153.17.40,Failed,Ellis,root,root,None,China,34.7732,113.7220
169812,2022/01/02 00:02:39,2022/01/02,00:02:39,43.153.29.11,Failed,Ellis,root,root,None,China,34.7732,113.7220
169813,2022/01/02 00:01:21,2022/01/02,00:01:21,43.153.29.11,Failed,Ellis,root,root,None,China,34.7732,113.7220
169814,2022/01/02 00:01:04,2022/01/02,00:01:04,193.169.254.138,Failed,Itza,admin,admin,None,Poland,52.2394,21.0362

In [18]:
box_list =  auth_logs['Box'].tolist()

new_box_list = []
for x in box_list:
    if x in new_box_list:
        pass
    else:
        new_box_list.append(x)
        
new_box_list

['Liberty', 'Ellis', 'Itza', 'Alban', 'Volvo', 'Ikea', 'Mitsubishi', 'Subaru']

In [20]:
ips = auth_logs['Source_IP'].tolist()
new_ip_list = []
for x in ips:
    if x in new_ip_list:
        pass
    else:
        new_ip_list.append(x)
        
#new_ip_list

                Time
Source_IP
1.214.81.50        1
1.224.249.138      1
1.65.130.113       2
101.166.192.3      2
101.33.243.112  6659
...              ...
96.255.93.142    315
96.8.2.65          1
96.86.194.5       11
97.126.99.1        2
98.199.124.73      1

[915 rows x 1 columns]